.nav-list{
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 0;
}

.nav-list-main{
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0;
}

.nav-list-main a{
    color: #888;
}

a.active{
    font-weight: bold;
    background-color: gainsboro;
}
